<h2> Customer Dashboard </h2>

<ul class="customers">
  <h4> Customers list </h4>
  <div>
    <label>Search by name:
      <input #customerName />
    </label>
    <button (click)="search(customerName.value); customerName.value=''">
      Search!
    </button>
    <a routerLink="/add">
      <button> Add Customer </button>
    </a>
  </div>

  <li *ngFor="let customer of customers">
    <a routerLink="/detail/{{customer.Id}}">
      <span class="badge">{{customer.Id}}</span> {{customer.Fullname}}
    </a>
    <button class="delete" title="delete customer" (click)="delete(customer)">x</button>
  </li>


</ul>