<div>
  <h2>Add Customer</h2>
  <div>
    <label>Fullname:
      <input [(ngModel)]="customer.Fullname" placeholder="Full-name" />
    </label>
  </div>
  <div>
    <label>AvartarURL:
      <input type='text' [(ngModel)]="customer.AvartarURL" placeholder="AvartarURL" />
    </label>
  </div>
  <div>
    <label>NRIC:
      <input [(ngModel)]="customer.NRIC" placeholder="NRIC" />
    </label>
  </div>
  <div>
    <label>Email:
      <input type='email' [(ngModel)]="customer.Email" placeholder="Email" />
    </label>
  </div>
  <div>
    <label>Password:
      <input type='password' [(ngModel)]="customer.Password" placeholder="Password" />
    </label>
  </div>
  <div>
    <label>Gender:
      <input [(ngModel)]="customer.Gender" placeholder="Gender" />
    </label>
  </div>
  <div>
    <label>DOB:
      <input type='date' [(ngModel)]="customer.DOB" placeholder="DOB" />
    </label>
  </div>
  <div>
    <label>Phone:
      <input [(ngModel)]="customer.Phone" placeholder="Phone" />
    </label>
  </div>
  <div>
    <label>status:
      <input [(ngModel)]="customer.status" placeholder="status" />
    </label>
  </div>
  <div>
    <label>Profesional:
      <input [(ngModel)]="customer.Profesional" placeholder="Profesional" />
    </label>
  </div>
  <button (click)="goBack()">Go back</button>
  <button (click)="add(customer)">Add Customer</button>
</div>

<router-outlet></router-outlet>